<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>com.MSc.servlet.GreetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresentConjecture</servlet-name>
        <servlet-class>com.MSc.servlet.PresentConjecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelDownload</servlet-name>
        <servlet-class>com.MSc.servlet.ModelDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/GreetingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresentConjecture</servlet-name>
        <url-pattern>/PresentConjecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelDownload</servlet-name>
        <url-pattern>/model/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
